div {
	padding: 5px;
}

h1 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 10px;
	font-size: 48px;
}

h2 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 5px;
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #67AFB8;
	font-weight: 900;
}

h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

h4 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid lightgray;
}

a:hover {
	background-color: #b1dbe0;
}

i {
	text-align: center;
}

table {
	margin: 0px auto;
	border-spacing: 25px 0px;
	border-collapse: separate;
}

.italics {
	font-style: italic;
	color: #595959;
}

.link {
	text-decoration: none;
	border: none;
	color: #595959;
}

a.link:hover {
	color: #67AFB8;
	background-color: transparent;
}

img {
	width: 40%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    image {
    	width: 80%;
    }
}
