body, html{
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.container{
  height: 100%;
  position: relative;
}

.content-wrap{
  position: absolute;
  top: 213px;/*213px;*/
  left: 15px;
  right: 15px;
  bottom: 10px;
}

.no-padding-left{
  padding-left: 0px;
}

.clickable{
  cursor: pointer;
}

blockquote{
  text-align: justify;
}

.full-height{
  height: 100%;
}

.scrollable{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.drop-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 18px;
}

.drop-icon-wrapper i{
  transition: 0.3s transform;
  transform: rotate(0deg);
}

.active-header .drop-icon-wrapper i{
  transform: rotate(180deg); 
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  transform: scale(0.8);
  transition: 0.5s;
  
  label {
    display: block;
    margin: 0 0 3px 0;
  }
  input[type=text] {
    width: 100%;
  }
  
  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    padding: 10px 20px;
    transform: scale(1);
    overflow: visible;
  }
  
}

form {
  max-width: 500px;
  margin: 20px auto;
  > div {
    margin: 0 0 20px 0;
    
  }
  > h4 {
    color: green;
    font-size: 24px;
    margin: 0 0 10px 0;
    border-bottom: 2px solid green;
  }
}